{%extends "base.html"%}
{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>{{user.username | capitalize}}</h3>

            {%if user.bio%}
                <hr>
                <p><strong>Bio:</strong></p>
                <p>{{user.bio}}</p>
            {%else%}
                <p>{{user.username | capitalize}} has no bio</p>
            {%endif%}
        </div>

        <div class="col-md-4">
            {%if user.profile_pic_path%}
                <img src="{{url_for('static', filename = user.profile_pic_path)}}" alt="dp" class="img-thumbnail" 
                style="border-radius: 50%;">
            {%else%}
                <p>No profile picture</p>
            {%endif%}
        </div>

        <div class="col-md-4">
            {%if user == current_user%}
                <a class="btn btn-info" href="{{url_for('main.update_profile', uname = user.username)}}"
                style="margin-bottom: 7px;">Edit Profile</a>

                <form action="{{url_for('main.update_pic', uname = user.username)}}" method="POST" enctype="multipart/form-data">
                    <input type="file" name="photo">
                    <input type="submit" class="btn btn-info" value="Upload" style="margin-top: 7px;">
                </form>
            {%endif%}
        </div>
    </div>
</div>
{%endblock%}