{%extends "base.html"%}
{%import "bootstrap/wtf.html" as wtf%}

{%block content%}

<div class="container">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {%for message in get_flashed_messages()%}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{message}}
            </div>
            {%endfor%}
            {{wtf.quick_form(login_form)}}
            <p>Don't have an account? <a href="{{url_for('auth.register')}}">Sign up here</a></p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>

{%endblock%}