{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/index.css')}}">
{% endblock %}
{% block content %}
<div class="container">
    <h1> Movies! </h1>
    <form style="display: flex;">
        <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
    <hr>
</div>
    <!-- Popular movie -->
    <h3 class="text-center"> Popular Movies</h3>
    <div>
        {{ macro.displayMovieList(popular)}}
    </div>
    <!-- Upcoming movie  -->
    <br>
    <h3 class="text-center"> Upcoming Movies </h3>
    <div>
        {{ macro.displayMovieList(upcoming)}}
    </div>
    <!-- Now showing movie -->
    <br>
    <h3 class="text-center">Now Showing</h3>
    <div>
        {{ macro.displayMovieList(now_showing)}}
    </div>
{% endblock%}