{% extends 'base.html'%}
{% import 'macros.html' as macro%}
<!-- Styles block -->
{% block styles%}
    {{ super() }}
    <link rel="stylesheet" href="{{url_for('static',filename='css/styles.css')}}">
{% endblock %}
{% block content %}
<style>
    body{
        font-family: 'Roboto', sans-serif;
    }
    h3.text-center{
        text-transform: uppercase;
    }
</style>
<div class="container">
    <form style="display: flex;">
        <input type="text" name="movie_query" placeholder="Search for a Movie" class="form-control">
        <input type="submit"  value="Submit" class="btn btn-default">
    </form>
</div>
<!-- Popular movie -->
<div class="container">
    <h3 class="text-center"> Popular Movies</h3>
    <div>
        {{ macro.displayMovieList(popular)}}
    </div>
</div>
    <!-- Upcoming movie  -->
<div class="container">
    <hr>
    <h3 class="text-center"> Upcoming Movies </h3>
    <div>
        {{ macro.displayMovieList(upcoming)}}
    </div>
</div>
    <!-- Now showing movie -->
<div class="container">
    <hr>
    <h3 class="text-center">Now Showing</h3>
    <div>
        {{ macro.displayMovieList(now_showing)}}
    </div>
</div>
{% endblock%}