{% macro displayMovieList(movie_list) %}
    {% for movie in movie_list %}
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-3 movie-card" style="margin-bottom: 15px;">
        <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="img-responsive">
        <div class="text-center">
            <a href="/movie/{{movie.id}}">
                <h4>{{ movie.title|truncate(10)}}</h4></a>
        </div>
    </div>
    {% endfor %}

{% endmacro %}

{% macro displayReviews(review_list) %}
    {% for review in review_list %}
    <div class="row">
        <div class="col-xs-2 col-sm-2 col-md-4 col-lg-4">
            <h4>Author</h4>
            <p>{{review.user.username}}</p>
        </div>
        <div class="col-xs-10 col-sm-10 col-md-8 col-lg-8">
            <h2><a href="{{url_for('main.single_review', id = review.id)}}">
                {{review.review_title}}
            </a></h2>
        </div>
    </div>
    {% endfor %}
{% endmacro %}
