{% macro displayMovieList(movie_list) %}
    {% for movie in movie_list %}
    <div class="col-xs-12 col-sm-4 col-md-2 col-lg-2 movie-card">
        <img src="{{ movie.poster }}" alt="{{ movie.title }} poster" class="img-responsive">
        <div class="text-center">
            <a href="/movie/{{movie.id}}">
                {{ movie.title|truncate(10)}}</a>
        </div>
    </div>
    {% endfor %}

{% endmacro %}

{% macro displayReviews(review_list) %}
    {% for review in review_list %}
    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 review-card">
        <h4> {{ review.title}} </h4>
        <p> {{ review.review | truncate(30) }}</p>
    </div>
    {% endfor %}
{% endmacro %}
